esempio.dtd

<!ELEMENT TEI (header, facsimile?, text+) >

<!ELEMENT header (#PCDATA) >
<!ELEMENT facsimile (#PCDATA) >
<!ELEMENT text (#PCDATA|<seg>) >

<!ATTLIST header type CDATA #FIXED "intestazione">
<!ATTLIST header lang NMTOKEN #IMPLIED >
<!ATTLIST facsimile source #REQUIRED>
<!ATTLIST facsimile ref #IMPLIED IDREFS>
<!ATTLIST text id #REQUIRED ID>
<!ATTLIST text type CDATA #IMPLIED>
